.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 2.8rem); /* Reduces height by 2rem */
    width: 300px;
    background-color: var(--color-white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    margin-top: 2.8rem;
    animation: slideIn 0.3s ease-out;
  }
  

.sidebarHeader  > h3{
    color: var(--color-secondary);
    font-weight: 500;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeIcon {
  font-size: 24px;
  cursor: pointer;
}

.icon{
    position: relative;
    top: 5px;
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarList li {
  margin: 15px 0;
  padding-bottom: 10px;
  border-bottom: 0.5px solid var(--color-text-secondory);
}

.sidebarList li a {
  text-decoration: none;
  color: var(--color-text-secondory);
  font-size: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
