.blogContent img {
  border-radius: 0.6rem;
  max-width: 100%; /* Ensure images scale properly */
  height: auto;
}

.blogContent {
  margin-bottom: 1rem;
}

.bannerImage {
  width: 100%; /* Make the banner image responsive */
  max-width: 60rem; /* Maintain original width on larger screens */
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}

.blogDetail {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blogs_card > div > h2 {
  font-family: "Rubik";
  font-weight: 500;
}

.blogs_card > div > h1 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 2rem;
}

.blogs_card > div > p {
  width: 100%;
  max-width: 60rem;
  color: var(--color-text-secondory);
}

.description {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.publishedText {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  font-size: 1rem;
  color: var(--color-green);
}

@media (max-width: 1024px) {
  .bannerImage, .blogContent img {
    width: 100%;
  }

  .blogDetail {
    width: 100%;
  }

  .blogs_card > div > p {
    width: 100%;
  }

  .blogs_card > div > h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .blogs_card > div > p {
    width: 100%;
  }

  .bannerImage {
    width: 100%;
  }

  .blogDetail {
    width: 100%;
  }

  .publishedText {
    font-size: 0.9rem;
  }

  .blogs_card > div > h1 {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
}
