.blogs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik";
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.blogs > div > p {
  width: 60rem;
  color: var(--color-text-secondory);
  margin-top: 0.5rem;
}

.blogs > div > h2 {
  font-family: "Rubik";
  font-weight: 500;
}

.blogs > div {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

@media (max-width: 1024px) {
  .blogs > div > p {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .blogs > div > p{
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .blogs > div > p{
    font-size: 0.9rem;
  }
}

