.package_header {
  background: url("../../../public/blog_banner.svg");
  height: 65vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 6rem;
}

.package_header > div > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.package_header > div > p {
  width: 38rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

@media (max-width: 900px) {
  .package_header {
    height: 50vh;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .package_header {
    padding-left: 2rem;
  }

  .package_header > div > p {
    width: 100%;
    width: 25rem;
  }

  .package_header > div > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .package_header {
    height: 40vh;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .package_header > div > p {
    width: 80%;
  }

  .package_header > div > h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 523px) {
  .package_header {
    height: 35vh;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .package_header > div > p {
    font-size: 0.8rem;
  }

  .package_header > div > h1 {
    font-size: 1rem;
  }
}
