.experiences {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  overflow-x: auto; /* enables horizontal scrolling */
  white-space: nowrap; /* prevents items from wrapping to the next line */
  position: relative;
}

.experiences::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.mobile_version, .mobile {
  display: none;
}

.first_experience,
.second_experience {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow: 0px 6px 16px 0px var(--layout-shadow);
  border-radius: 0.9rem;
  cursor: pointer;
  margin-right: 1rem;
}

.first_experience,
.second_experience {
  flex: 0 0 auto; /* keeps items fixed at their specified width and height */
}

.first_experience {
  width: 21rem;
  height: 21rem;
  display: inline-block;
  position: relative;
  top: 40px;
}

.second_experience {
  width: 21rem;
  height: 26rem;
  margin-top: 4.2rem;
  display: inline-block;
}

@media (max-width: 1301px) {
  .first_experience {
    width: 18rem;
    height: 18rem;
  }

  .second_experience {
    width: 18rem;
    height: 23rem;
  }
}

@media (max-width: 1000px) {
  .first_experience {
    width: 15rem;
    height: 15rem;
  }

  .second_experience {
    width: 15rem;
    height: 20rem;
  }

  .lable > div > p {
    font-size: 1rem;
  }
}

@media (max-width: 789px) {
  .mobile_version {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
  }

  .mobile{
    display: block;
  }

  .experiences {
    display: none;
  }

  .mobile_version > div > img {
    width: 6rem;
    border-radius: 50%;
  }

  .mobile_version > div > div > p {
    color: var(--color-secondary);
    font-weight: 500;
    text-align: center;
    width: 5rem;
  }

  .mobile_version > div > div {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .experiences_last {
    display: none;
  }
}
