.container {
  margin-top: 2rem;
}

.content {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  /* align-items: center; */
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 2rem;
}

.content button {
  margin-bottom: 0 !important;
}

.content span {
  width: 100%;
  background: linear-gradient(
    115.61deg,
    #ffffff 5.72%,
    #ffe0e6 56.68%,
    #ffddd0 100.09%
  );
  /* border-radius: 0.5rem; */
  /* margin-bottom: 2rem; */
  padding: 2rem;
  box-shadow: 0px 0px 5px 0px #00000040;
}

.content span h5 {
  font-family: Solitreo;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff8255;
}

.content span p {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2d2d2d;
}

.container button {
  width: 12.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1125px) {
    .content {
       
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        
      }

      .content span h5 {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.6rem;
      }
      
      .content span p {
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 1.65rem;
        
      }
    
  }

  @media (max-width: 950px) {
    .content {
       
        padding-bottom: 2rem;
        
      }

  }

  @media (max-width: 890px) {
    .content {
       
        grid-template-columns: 1fr;
        gap: 3rem;
        /* padding-left: 7.5rem; */
        /* padding-right: 7.5rem; */
      }
    .content span{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }  
    
  }

@media (max-width: 700px) {
  
    .container > button {
        height: 2.2rem;
        width: 9rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
  
   
      .layout > p {
        text-align: center!important;
      }
    
      .layout > h3 {
        text-align: center!important;
      }
    
      .layout > h2 {
        text-align: center!important;
    }
    
  }

  
  @media (max-width: 600px) {
    
    .content span{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }  
    
  }

  @media (max-width: 500px) {
    .content{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .content span{
        padding: 1.5rem;
    }
      .content span h5 {
        font-size: 1.2rem;
      }
      
      .content span p {
        font-size: 0.75rem;        
      }

  }