.container {
  margin-top: 2rem;
}

.content > button {
  width: 12.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  font-size: 1rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.content  > img{
  width: 100%;
    display: block;
    margin: auto;
    margin-top: 3rem;
}


@media (max-width: 700px) {
  
  .container  button {
      height: 2.2rem;
      width: 9rem;
      font-size: 1rem;
      margin-top: 1rem;
  }

 
    .layout > p {
      text-align: center!important;
    }
  
    .layout > h3 {
      text-align: center!important;
    }
  
    .layout > h2 {
      text-align: center!important;
  }
  
}