.trendingBlogs{
    font-family: "Rubik";
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.trendingBlogsContainer{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

.blogs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}