.btn {
    background: linear-gradient(90deg, var(--color-primary) 10%, #ff7848 90%);
    outline: none !important;
    color: var(--color-white);
    border: none;
    display: flex;
    justify-content: center !important;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem; /* Add spacing between label and image */
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.4s ease;
  }
  
  .btn img {
    margin-left: 0;
    transition: transform 0.2s ease;
  }
  
  .btn:hover {
    transform: scale(1.02); /* Subtle scale effect */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, var(--color-primary) 0%, #ff7848 100%); /* Low to high gradient */
  }
  
  .btn:hover img {
    transform: scale(1.05); /* Slight scale effect for image */
  }
  
  .btn:active {
    transform: scale(0.98); /* Shrink slightly on click */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
  