.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 4rem;
  }

  .container img{
    width: 23%;
    margin-right: 3rem;
  }

  .layout{
    /* width: 65%!important; */
  }

  .layout > p {
    text-align: left!important;
    width: 100%!important;
  }

  .layout > h3 {
    text-align: left!important;
  }

  .layout > h2 {
    text-align: left!important;
}
  
  
  
  
  @media (max-width: 700px) {
    
    
   
      
    
  }