.container {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 3rem;
  /* padding-left: 5rem; */
  /* padding-right: 5rem; */
}

.container section {
  margin-left: 10rem;
  position: relative;
  width: 30%;
}

.container section img {
  width: 100%;
}

.container section div {
  /* color: white; */
  border-radius: 5rem;
  /* background: linear-gradient(180deg, #FFD6D6 0%, #E388AB 100%); */

  background-color: #ffe0d4;
  border: none;
  /* padding: 1rem; */
  width: 100%;
  height: 95%;
  position: absolute;
  top: -30px;
  right: 70px;
  z-index: -1;
}

.container section span {
  background-color: #d9d9d9;
  border-radius: 3rem;
  /* background-color: #FFE0D4; */
  border: none;
  /* padding: 1rem; */
  width: 25%;
  height: 20%;
  position: absolute;
  bottom: -30px;
  right: -30px;
  z-index: -1;
}

.layout {
  width: 50% !important;
  /* padding-left: 0!important; */
}

.layout p {
  width: 100% !important;
  text-align: justify !important;
  font-size: 14px;
}

.layout h2,
.layout h3,
.layout p {
  text-align: left;
  padding-left: 0 !important;
  padding-right: 10rem;
}

.layout h6 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 1200px) {
  .layout p {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    font-size: 13px;
    /* padding: 0; */
  }

  .container section {
    margin: 0;
    /* margin-left: 2.5rem; */
    /* padding: 0!important; */
  }

  .container section img {
    width: 300px;
    /* margin-right: 50px!important; */
  }

  .container section div {
    width: 300px;
    height: 300px;
    left: -20%;
  }

  .container section span {
    /* width: 75px; */
    /* height: 75px; */
    /* right: -10%; */
    /* left: 90%; */
    display: none;
  }

  .layout {
    width: 100vw !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .layout h2,
  .layout h3,
  .layout p {
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  
  .container section img{
    transform: translateX(-35px);

  }

  .container section div{
    transform: translateX(-35px);
  }
  
    .layout p {
      display: block!important;
    }
  
}

@media (max-width: 600px) {
  
    .container section img{
      transform: translateX(-60px);
  
    }
  
    .container section div{
      transform: translateX(-60px);
    }
  }

  @media (max-width: 500px) {
    .container section img {
        display: block;
        /* width: 250px; */
        margin: auto!important;
        /* margin-left: 6.25rem!important; */
        transform: translateX(0);
        /* margin-right: 50px!important; */
      }

      .container section{
        width: 100%;
      }
  
    .container section div{
        display: none;
      transform: translateX(-75px);
    }
  }
  
  