.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .container img{
    width: 35%;
    margin-right: 5rem;
  }

  .layout{
    width: 60%;
  }

  .layout > p {
    text-align: left!important;
    width: 100%!important;
  }

  .layout > h3 {
    text-align: left!important;
  }

  .layout > h2 {
    text-align: left!important;
}
  
  
  
  
  @media (max-width: 800px) {
    
    .container{
      flex-direction: column;
    }
    
    .layout{
      width: 100%;
    }

    .layout p{
      display: block!important;
    }
      
    .container img{
      width: 70%;
      margin: 0;
      /* padding: 0; */
    }
  }

  @media (max-width: 500px) {
      
    .container img{
      width: 85%;
      margin: 0;
      /* padding: 0; */
    }
  }