.container {
    /* margin-top: 2rem; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    margin-bottom: 2rem;
    /* padding-left: 4rem; */
  }
  
  .container section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 5rem; */
  }
  
  .container section div {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .container section div span {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ececec;
  }
  
  .container section div span h6 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2d2d2d;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
  }
  
  .container section div span p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    /* display: none; */
  }
  
  .container section img {
    width: 35%;
    /* padding: 1rem; */
    /* background: linear-gradient(
      148.95deg,
      #ffffff -0.76%,
      #ffe7d6 35.6%,
      #ffe7f7 65.64%,
      #ffdfd2 100%
    ); */
    box-shadow: 0px 0px 8.7px 0px #00000040;
    border-radius: 0.5rem;
    /* position: relative; */
    margin-left: 5rem;
  }
  
  .icon {
    font-size: 2rem;
    margin-left: auto;
    cursor: pointer;
  }
  
  

  @media (max-width: 1000px) {
    .container section div span h6 {
      font-size: 15px;
      line-height: 24px;
    }
    
    .container section div span p {
      font-size: 15px;
      line-height: 24px;
    }
    .icon {
      font-size: 1.75rem;
    }
     
  }
  
  @media (max-width: 800px) {
    .container section {
      flex-direction: column-reverse;
      padding: 0;
    }

    .container section img{
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .container section div{
      width: 100%;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    
    .container section div span h6 {
      font-size: 15px;
      line-height: 24px;
    }
    
    .container section div span p {
      font-size: 15px;
      line-height: 24px;
    }
    .icon {
      font-size: 1.75rem;
    }
     
  }
  

  @media (max-width: 500px) {
    .container section img{
        width: 90%;
    }
    
  }
  