.popup {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: var(--color-white);
  box-shadow: 0px 6px 39px 0px #00000026;
  border-radius: 2rem;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center perfectly */
  z-index: 100;
  padding: 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 99; /* Ensure it appears behind the popup */
}

.popup h1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: justified;
  color: var(--color-secondary);
}

.popup h5 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-text-secondory);
  margin-bottom: 2rem;
}

.popup label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-secondary);
  width: 100%;
  margin-bottom: 0.5rem;
}

.popup b {
  color: var(--color-primary);
}

.popup input {
  outline: none;
  border: 1px solid var(--color-text-secondory);
  color: var(--color-secondary);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.popup input::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-text-secondory);
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox input {
  margin: 0;
  width: 15px;
  margin-right: auto;
}

.checkbox b {
  margin-left: 2.5px;
}

.icon {
  color: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: 0px 1px 4px 0px #00000033;
  padding: 0.25rem;
  font-size: 2.25rem;
  cursor: pointer;

  position: absolute;
  top: 1rem;
  right: 1rem;
}
.popup button {
  margin-top: auto;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
}

@media (max-width: 569px) {
  .popup {
    width: 90%;
    border-radius: 1rem;
  }
}
