.popup {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* justify-content: space-between; */
    background: #ffffff;
    box-shadow: 0px 6px 39px 0px #00000026;
    border-radius: 2rem;
  
    width: 500px;
    height: 450px;
    margin: 0;
    position: fixed;
    top: calc(50vh - 225px);
    /* margin-bottom: calc(50vh + 250px); */
    left: calc(50vw - 250px);
    z-index: 100;
  
    /* padding: 1rem; */
  }
  
  .popup > img {
    margin-bottom: auto;
  }
  
  .popup h1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    font-family: Rubik;
    font-size: 30px;
    font-weight: 600;
    line-height: 40.29px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
    color: #2d2d2d;
  
    margin-top: 2rem;
  }
  
  .popup p {
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
    color: #969ca6;
  }
  
  .popup label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2d2d2d;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    /* margin-left: 1.5rem; */
    /* margin-right: 1.5rem; */
  }
  
  .popup b {
    color: #ff8255;
    margin-left: 2.5px;
    text-decoration: underline;
  }
  
  .popup input {
    outline: none;
    border: 1px solid #2d2d2d;
    color: #2d2d2d;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 1.5rem;
    /* margin-left: 1.5rem; */
    /* margin-right: 1.5rem; */
  }
  
  .popup input::placeholder {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #969ca6;
  }
  
  .icon {
    /* color: white; */
    color: #2d2d2d;
    border-radius: 50%;
    /* background-color: #ff8255; */
    background-color: white;
    /* box-shadow: 0px 1px 4px 0px #00000033; */
    padding: 0.25rem;
    font-size: 2.25rem;
    cursor: pointer;
  
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .popup button {
    /* margin-top: auto; */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .popup span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 82.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .popup span p {
    display: inline;
    width: 60px;
  }
  
  .popup span hr {
    width: 100%;
  }
  
  .popup div {
    margin-top: auto;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #2d2d2d;
    border: 1px solid #2d2d2d;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 1.75rem;
    margin-top: auto;
  }
  
  .popup div img {
    margin-right: 0.5rem;
  }
  
  .specialp{
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
  }

  .otpfield {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spacing between boxes */
    border: none!important;
    outline: none!important;
    margin-bottom: 0!important;
  }
  
  .otpbox {
    width: 40px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 0!important;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .otpbox:focus {
    border-color: #007bff; /* Highlight color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  

  
  @media (max-width: 600px) {
    .popup {
      transform: scale(0.9);
    }
  }
  
  @media (max-width: 500px) {
    .popup {
      height: 350px;
      top: unset;
      bottom: 0;
      width: 100vw;
      left: unset;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      transform: scale(1);
    }
  
    .popup > img {
      display: none;
    }
  
    .specialp {
      display: block;
      width: 100%;
      margin: 0;
      text-align: center;
  
      font-family: Poppins;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  
  
    .popup h1 {
      font-size: 27px;
      margin-top: 50px;
    }
    
    .popup p {
      font-size: 13px;
    }
    
    .popup label {
      font-size: 12px;
    }
  
    .popup input {
      font-size: 11px;
    }
    
    .popup input::placeholder {
      font-size: 11px;
    }
    
    .icon {
      color: white;    
      font-size: 30px;
      background-color: #ACACAC;
    }
  
    .popup button {
      font-size: 13.5px;
    }
  
    .popup div{
      font-size: 14.5px;
    }
  
    .popup div img{
      width: 20px;
    }
  }

  @media (max-width: 450px) {
    .otpbox {
        /* font-size: 9px!important; */
        padding: 0.25rem!important;
        height: 40px;
    }
}
  
  @media (max-width: 400px) {
      .specialp {
          /* width: 60%!important; */
          font-size: 11px!important;
        }
        .popup h1 {
          font-size: 25px;
        }
  
  }
  