.container {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.container section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5rem;
  margin-top: 2rem;
}

.container section div {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.container section div iframe {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  height: 300px!important;
}

.container section div span {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: 1px solid #dcdcdc;
  padding: 1rem;
  width: 100%;
}

.container section div span div{
    border-left: 1px solid #CECECE;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.rightArrow{
  position: relative;
  top: 7px;
}

.container section div span h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 15.8px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.container section div span p {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.4px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-text-secondory);
  margin-bottom: 1rem;
}

.container section div span h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon1{
    margin-right: 0.5rem;
}

.container section div span h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.1px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #747474;
  width: 50%;
}

.container section form {
  width: 45%;
  padding: 1.5rem;
  background-color: #fcfcfc;
  border-radius: 0.5rem;
  position: relative;
  margin-left: 5rem;
}

.container section form > h2 {
  width: 100%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-secondary);
  padding-left: 1rem;
  margin-top: 1rem;
}

.container section form main {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 1rem;
}

.container section form main button {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 0.5rem;
}

.container section form main label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.68px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
  width: 100%;
}

.container section form main label b {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.68px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff4343;
}

.container section form main input,
.container section form main input::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-text-secondory);
  border-radius: 0.25rem;
  outline: none;
}

.container section form main input {
  border: 1px solid var(--color-text-secondory);
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.container section form main textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.65rem;
  border-radius: 0.25rem;
  outline: none;
  color: #969ca6;
  border: 1px solid #969ca6;
}

.container section form main textarea::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #969ca6;
}

.icon {
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
}
@media (max-width: 900px) {
  .container section {
    flex-direction: column-reverse;
    padding: 0;
  }
  .container section div {
    width: 90%;
    margin: auto;
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
  }

  .container{
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .container section div iframe {
    margin-top: 0rem;
  }
  .container section form {
    padding: 0.5rem;
  }
  .container section form {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    /* margin-left: 3rem!important; */
    /* margin-right: 3rem!important; */
  }

  .container section form > span {
    display: none;
  }

  .container section div span h6 {
    font-size: 15px;
    line-height: 24px;
  }

  .container section div span p {
    font-size: 15px;
    line-height: 24px;
  }
  .icon {
    font-size: 1.75rem;
  }

  .container section div span div{
    margin-left: 0;
  }
}
