.packageItenary_container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 2rem;
  border-left: 3px dashed var(--color-text-secondory);
}

.packageItenary_container > div {
  display: flex;
}

.shape > div > h1 {
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.2rem;
}
.shape {
  display: flex;
  align-items: center !important;
}

.shape > div > span, .reachFromYourOwn {
  color: #f73f3f;
  font-size: 0.8rem;
  display: inline-block;
  padding-bottom: 0.3rem;
  font-weight: 300;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.3rem;
}

.div1 {
  grid-area: 1 / 1 / 5 / 2;
  width: 154px;
  height: 188px;
  margin-right: 0.2rem;
  border-radius: 0.5rem;
  background-repeat: no-repeat !important;
}
.div2 {
  grid-area: 1 / 2 / 3 / 4;
  background-repeat: no-repeat !important;
  width: 159px;
  height: 92px;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;
}
.div3 {
  grid-area: 3 / 2 / 5 / 4;
  background-color: yellow;
  background-repeat: no-repeat !important;
  width: 159px;
  height: 92px;
  border-radius: 0.5rem;
}
.shape > div > div {
  font-size: 0.9rem;
}

.mobile_day {
  background-color: #d9d9d9;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  padding: 5px;
  font-weight: 500;
  color: var(--color-secondary);
}

.mobile_title{
  font-weight: 500;
}

.mobile_details{
  margin-bottom: 2rem;
}

.shape > div > div > span {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 1rem !important;
}

.shape > div > div {
  color: var(--color-text-secondory);
  padding-bottom: 0.2rem;
}

.mobile_image{
  margin-top: 1rem;
}

.shape {
  clip-path: polygon(10% 0, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
  width: 100%;
  height: 14rem;
  margin-bottom: 2rem;
  padding-left: 7rem;
  position: relative;
  top: -5.5rem;
  left: -2rem;
  background-color: var(--neutral-background);
}

.mobile_description{
  color: var(--color-text-secondory);
  font-size: 0.9rem;
}

.day {
  width: 60px;
  height: 60px;
  background-color: var(--color-green);
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  position: relative;
  left: -2rem;
}

@media (max-width: 1359px) {
  .div2,
  .div3 {
    display: none;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.3rem;
  }
}

.mobile {
  display: none;
}

@media (max-width: 1205px) {
  .packageItenary_container {
    margin-right: 0rem;
  }
}

@media (max-width: 800px) {
  .web {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media(max-width: 463px){
  .mobile_image{
    display: none;
  }

  .mobile_details > div > div{
    padding-left: 0rem !important;
  }
}
